<div class="container">
  <h1>Создание задачи</h1>
  <form class="form" [formGroup]="todoForm" (ngSubmit)="todoSubmit()">
    <label>Текст задачи:</label>
    <input class="form__input" type="text" formControlName="title">
    @if (this.todoForm.controls['title'].invalid && (this.todoForm.controls['title'].dirty || this.todoForm.controls['title'].touched)) {
      <small class="form__input--error">Обязательное поле</small>
    }
    <label>Автор задачи:</label>
    <input class="form__input" type="text" formControlName="userId">
    @if (this.todoForm.controls['userId'].invalid && (this.todoForm.controls['userId'].dirty || this.todoForm.controls['userId'].touched)) {
      <small class="form__input--error">Обязательное поле</small>
    }
    <label>Статус задачи</label>
    <select class="form__input" formControlName="completed">
      <option value="Да">Да</option>
      <option value="Нет">Нет</option>
    </select>
    @if (this.todoForm.controls['completed'].invalid && (this.todoForm.controls['completed'].dirty || this.todoForm.controls['completed'].touched)) {
      <small class="form__input--error">Обязательное поле</small>
    }
    <button class="form__btn" [disabled]="todoForm.invalid">Добавить задачу</button>
  </form>
</div>
