<div class="container">
  <h1>Создание задачи</h1>

  <form class="form" [formGroup]="editingTodoForm">

    <mat-form-field>
      <mat-label>Текст задачи</mat-label>
      <input matInput formControlName="title">
      <mat-error>Введите не менее 3-х символов</mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Автор задачи:</mat-label>
      <input matInput formControlName="userId">
      <mat-error>Введите не менее 4-х символов</mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Задача выполнена:</mat-label>
      <mat-select formControlName="completed">
        <mat-option [value]="true">Да</mat-option>
        <mat-option [value]="false">Нет</mat-option>
      </mat-select>
      <mat-error>Введите "Да" или "Нет"</mat-error>
    </mat-form-field>

    <button
      type="submit"
      class="form__btn"
      mat-button
      matTooltip="Редактировать данные задачи"
      [mat-dialog-close]="todoWithUpdatedFields">Редактировать
    </button>

  </form>
</div>
