<div class="container">
  <header class="header">
    <div class="header__left">
      <a href="/" class="header__logo"> <img ngSrc="../assets/img/logo.svg" alt="Логотип" height="40" width="61"> </a>
      <nav class="header__nav">
        <a href="/" class="header__nav--item">{{ mainTitle }}</a>
        <a href="/" class="header__nav--item">{{ aboutCompany }}</a>
        <a href="/" class="header__nav--item" *ngIf="isShowCatalog">{{ catalogTitle }}</a>
        <button (click)="isShowCatalog = !isShowCatalog">Показать / Скрыть пункт</button>
        <button (click)="changeMenuText()">Изменить текст</button>
      </nav>
    </div>
    <div class="header__right">
      <a href="/" class="header__right--contacts">
        <img ngSrc="../assets/img/phone.svg" alt="Контактный номер" height="28" width="28">
        <p class="header__contacts--phone">+7 (965) 084-29-29</p>
      </a>
      <a href="/" class="header__right--selected"> <img
        ngSrc="../assets/img/heart.svg"
        alt="Избранное" height="21" width="24"> </a>
      <button class="header__right-button">
        <img
          ngSrc="../assets/img/shopping-cart.png"
          class="header__right-button-img" alt="Корзина"
          height="100"
          width="100">
        Пусто
      </button>
    </div>
  </header>
  <div class="header-subtitle">
    <div class="header-subtitle__catalog">
      <div class="header-subtitle__list">
        <button class="header-subtitle-list__burger-menu">
          <img ngSrc="../assets/img/burger_menu.svg" alt="Каталог" height="16" width="16">
        </button>
        <div class="header-subtitle__nav">
          <button *ngFor="let item of menuItems" class="header-subtitle-nav__link">{{ item }}</button>

        </div>
      </div>
    </div>
    <div class="header-subtitle__search">
      <div class="header-subtitle__input">
        <input
          class="header-subtitle-input__item" type="text"
          placeholder="Поиск, например Круг зачистной ">
        <img
          class="header-subtitle__input--searchImg"
          ngSrc="../assets/img/search.svg"
          alt="Поиск"
          height="800"
          width="800">
      </div>
      <div class="header-subtitle__location">
        <img ngSrc="../assets/img/location.svg" alt="Локация" height="12" width="12">
        <span class="header-subtitle__city">Москва</span>
      </div>
    </div>
  </div>
  <button (click)="isShowImage = !isShowImage">Показать / Скрыть баннер</button>
  <div class="title-banner">
    <img
      *ngIf="isShowImage" class="title-banner-img"
      ngSrc="../assets/img/banner.jpeg"
      alt="Баннер"
      height="720"
      width="1920">
  </div>
  <div class="content-container">
    <div class="promo-block">
      <div class="promo-block__item">
        <img class="promo-block__img" ngSrc="../assets/img/bricks_promo.svg" alt="" height="72" width="72">
        <p class="promo-block__text">
          <span class="promo-block__text--black">Большой
            ассортимент</span> строительных материалов всегда в наличии
        </p>
      </div>
      <div class="promo-block__item">
        <img class="promo-block__img" ngSrc="../assets/img/delivery_promo.svg" alt="" height="72" width="72">
        <p class="promo-block__text">
          <span class="promo-block__text--black">Доставка
            стройматериалов</span> в течении четырех часов или в любое удобное время
        </p>
      </div>
      <div class="promo-block__item">
        <img class="promo-block__img" ngSrc="../assets/img/quality_promo.svg" alt="" height="72" width="72">
        <p class="promo-block__text">Многоуровневая <span class="promo-block__text--black">система
            управления качеством</span> по стандарту ISO 9001 </p>
      </div>
    </div>
    <div class="catalog">
      <div class="catalog__pagination pagination">
        <button *ngFor="let item of newPages" class="pagination__btn pagination__btn--active ">{{ item }}</button>
      </div>
      <div class="catalog__grid">
        <div class="catalog__main-grid">
          <div class="catalog__main-card">
            <h2 class="catalog-card__title">Строительный отделочный инструмент</h2>
            <a href="/" class="catalog-card__link">Перейти в каталог
              <button class="catalog-card__btn">
                <img ngSrc="../assets/img/catalog_link_arrow.svg" alt="arrow" height="8" width="21">
              </button>
            </a>
          </div>
        </div>
        <div class="catalog__subgrid">
          <div class="catalog-card--small catalog-card--bg-1">
            <h2 class="catalog-card__title catalog-card__title--end">Эмали</h2>
            <a href="/" class="catalog-card__link">Перейти в каталог
              <button class="catalog-card__btn">
                <img ngSrc="../assets/img/catalog_link_arrow.svg" alt="arrow" height="8" width="21">
              </button>
            </a>
          </div>
          <div class="catalog-card--small catalog-card--bg-2">
            <h2 class="catalog-card__title">Лакокрасочные <br/>материалы</h2>
            <a href="/" class="catalog-card__link catalog-card__link--left">Перейти в каталог
              <button class="catalog-card__btn">
                <img ngSrc="../assets/img/catalog_link_arrow.svg" alt="arrow" height="8" width="21">
              </button>
            </a>
          </div>
          <div class="catalog-card--small catalog-card--bg-3">
            <h2 class="catalog-card__title">Пены, клеи и <br/>герметики</h2>
            <a href="/" class="catalog-card__link catalog-card__link--left">Перейти в каталог
              <button class="catalog-card__btn">
                <img ngSrc="../assets/img/catalog_link_arrow.svg" alt="arrow" height="8" width="21">
              </button>
            </a>
          </div>
          <div class="catalog-card--small catalog-card--bg-4">
            <h2 class="catalog-card__title">Розетки и выключатели</h2>
            <a href="/" class="catalog-card__link">Перейти в каталог
              <button class="catalog-card__btn">
                <img ngSrc="../assets/img/catalog_link_arrow.svg" alt="arrow" height="8" width="21">
              </button>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
